@media screen and (max-width:1200px){
    .case-study{
        margin: -60px 20px 40px; 
    }
    .intro{
        padding: 50px 20px;
    }
}
@media screen and (max-width:900px){
    html{
        font-size: 8px;
    }
    .intro, .case-study{
        grid-template-columns: repeat(2, 1fr);
    }
    .intro{
        h1{
            br{
                clear: none;
            }
        }
    }
    .slick-list{
        padding-bottom: 0;
    }
    .case-study{ 
        margin-top: 0;
        &__description{
            background: linear-gradient(180deg, $dim 0%, $dim 80px, #f2f1e6 80px);
            margin: 0;
            padding: 0 0 40px 15px;
            &--rotate-90{
                left:0;
                top:0;
                position: relative;
                transform-origin: 0 0;
                transform: rotate(0deg);
                padding: 0;
                color:#ddd;
                white-space: normal;
                margin: 20px 0;
                h2{
                    font-size: 3rem;
                    cursor: text; 
                }
            }
        }
    }
    .proficiencies{
        padding: 30px;
        &__expert{
            grid-column: span 5;
            margin-bottom: 40px;
        }
        &__recent{
            grid-column: span 5;
        }
    }
    .about{
        padding: 40px 20px;
        &__what-i-do{
            grid-column:span 5;
        }
    }
}