@media screen and (max-width:1200px){
    .case-study{
        margin: -60px 20px 40px; 
    }
    .intro, .overview, .branding{
        padding: 50px 20px;
        .slick-prev{
            margin-left: -20px;
        }
        .slick-next{
            margin-right: -20px;
        }
    }
}
@media screen and (max-width:900px){
    html{
        font-size: 8px;
    }
     .case-study{
        grid-template-columns: repeat(2, 1fr);
    }
    .intro{
        h1{
            br{
                clear: none;
            }
        }
    }
    .slick-list{
        padding-bottom: 0;
    }
    .case-study{ 
        margin-top: 0;
        &__description{
            margin: 30px 0 0 0;
            padding: 0 0 40px 0;
            &--rotate-90{
                margin: -54px 0 0;
                padding: 0;
                h2{
                    font-size: 3rem;
                }
            }
        }
    }
    .proficiencies{
        padding: 30px;
        &__expert{
            grid-column: span 5;
            margin-bottom: 40px;
        }
        &__recent{
            grid-column: span 5;
        }
    }
    .about{
        padding: 40px 20px;
        &__what-i-do{
            grid-column:span 5;
            order: 1;
        }
        &__contact{
            grid-column:span 5;
            order: 2;
        }
    }
}
@media screen and (max-width:700px){
    .intro, .overview{
        grid-template-columns: repeat(2, 1fr);
    }
    .intro{
        &__logo{
            border-right: none;
            border-bottom: solid 1px #5fcdc7;
            padding-bottom: 20px;
            margin-bottom: 20px;
            h1{
                font-size: 11vw;
                font-weight: 300;
            }
            h2{
                font-size: 4.4vw;
            }
        }
        &__content{
            p{
                padding-left: 0;
                font-size: 3.5vw;
            }
        }
    }
}
@media screen and (max-width:500px){
    .overview{
        h2{
            font-size: 3rem;
            font-weight: bold;
            padding-bottom: 0;
        }
        .edu__session{
            border-left: 2px solid #dbd9d8;
            color: #b1a8aa;
            font-weight: 300;
            padding: 3px 0 8px 10px;
        }
        h3,h4,h5{
            font-size: 1.4rem;
            font-family: $font-body;
            font-weight: normal;
        }
        ul{
            list-style:none;
            border-left: 2px solid #dbd9d8;
            font-size: 1.7rem;
            color: #b1a8aa;
            font-weight: 300;
            padding-left: 10px;
            margin-top: 0;
            line-height: 1.9;
        }
    }
}