.case-studies{
    margin-top: -120px;
    animation: fadein 1s;
    @keyframes fadein {
        from {
            margin-top:0;
            opacity:0;
        }
        to {
            margin-top:-120px;
            opacity:1;
        }
    }
}
.case-study{ 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 0 100px 40px;
    grid-column-gap: 20px;
    margin-top: 0px;
    &__image{
        grid-column: span 2;
        height: 500px;
        background-position: top center;
        background-size: 100% auto;
        transition:background-position 2s ease;
        margin: 0 0 40px;
        @extend %box-shadow;
        &:hover{
            background-position: bottom center;
            transition:background-position 5s ease;
        }
    }
    &__description{
        grid-column: span 2;
        background: linear-gradient(90deg, $dim 0%, $dim 10%, #f2f1e6 10%);
        margin: 100px 0 0 -60px;
        position: relative;
        padding: 20px 40px 20px 90px;
        @extend %box-shadow;
        h2{
            cursor: pointer;
            font-size: 4rem;
            color: $dark;
            border-bottom:solid 1px rgba(0,0,0,.15);
        }
        .active & h2{
            background: $dark;
            color:#f2f1e6
        }
        p{
            padding:20px 20px 20px 40px; 
            background:rgba(0,0,0,.1);
        }
        .fas{
            font-weight: 900;
            font-size: 21px;
            vertical-align: top;
            padding: 21px 0 0;
            color: rgba(0,0,0,.2);
        }
        &--rotate-90{
            left:10%;
            top:0;
            position: absolute;
            transform-origin: 0 0;
            transform: rotate(90deg);
            padding-left: 20px;
            white-space: nowrap;
            h2{
                font-size: 3rem;
                cursor: text;
                color:$bright;
                border-bottom:none;
            }
        }
    }        
}