.case-studies{
    margin-top: -120px;
    animation: fadein 1s;
    @keyframes fadein {
        from {
            margin-top:0;
            opacity:0;
        }
        to {
            margin-top:-120px;
            opacity:1;
        }
    }
}
.case-study{ 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 0 100px 40px;
    grid-column-gap: 20px;
    &__image{
        grid-column: span 2;
        height: 500px;
        background-position: top center;
        background-size: 100% auto;
        transition:background-position 2s ease;
        margin: 0 0 40px;
        position: relative; 
        @extend %box-shadow;
        &:hover{
            background-position: bottom center;
            transition:background-position 8s ease;
        }
        a{
            display: block;
            text-align: center;
            position: absolute;
            bottom:0;
            width: 100%;
            margin-bottom:-40px;
            font-size: 24px;
            color:#fff;
            &:hover{
                color:#ccc;
            }
        }
    }
    &__description{
        grid-column: span 2;
        background: linear-gradient(90deg, $dim 0%, $dim 10%, #f2f1e6 10%);
        margin: 100px 0 0 -60px;
        position: relative;
        padding: 20px 40px 20px 90px;
        @extend %box-shadow;
        .case-study__section{
            h2{
                cursor: pointer;
                font-size: 4rem;
                color: $dark;
                border-bottom:solid 1px rgba(0,0,0,.15);
                position:relative;
                padding-left: 8px;
                &:after {
                    content: "\f067";
                    font-family: "Font Awesome 5 Free";
                    font-style: normal;
                    text-decoration: inherit;
                    font-weight: 900;
                    font-variant: normal;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    /*--adjust as necessary--*/
                    font-size: 18px;
                    padding-right: 0.5em;
                    position: absolute;
                    top: 20px;
                    right: 5px;
                    color: rgba(0,0,0,.2);
                }
                &:hover{
                    background: rgba($dark,.2);
                }
            }
            &.active h2{
                background: rgba($dark,.5);
                color:#f2f1e6;
                &:after{
                    content: "\f068";
                }
            }
        }
        p{
            padding:20px 20px 20px 40px; 
            background:rgba(0,0,0,.1);
        }
        .fas{
            font-weight: 900;
            font-size: 21px;
            vertical-align: top;
            padding: 21px 0 0;
            color: rgba(0,0,0,.2);
        }
        &--rotate-90{
            left:10%;
            top:0;
            position: absolute;
            transform-origin: 0 0;
            transform: rotate(90deg);
            padding-left: 20px;
            white-space: nowrap;
            h2{
                font-size: 3rem;
                cursor: text;
                color:$bright;
                border-bottom:none;
            }
        }
    }        
}