.intro{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0;
    background-image: linear-gradient(167deg, $bright, $bright);
    padding: 50px 100px;
    color:#fff;
    border-bottom: 110px solid $dim;
    @extend %box-shadow;
    &__logo{
        grid-column: span 2;
        h1{
            color:rgba(255,255,255,.2);
            font-size: 100px;
            margin-bottom: -30px;
            line-height: 1;
        }
    }
    &__content{
        grid-column: span 2;
        p{
            padding-left: 30px;
            font-size: 2rem;
        }
    }
}