.overview{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0;
    padding: 30px 100px;
    background: #fdfbfb;
    color: #8a8182;
    h2{
        font-size: 3rem;
        font-weight: bold;
        padding-bottom: 0;
    }
    .edu__session{
        border-left: 2px solid #dbd9d8;
        color: #b1a8aa;
        font-weight: 300;
        padding: 15px 0 15px 30px;
    }
    h3,h4,h5{
        font-size: 1.3rem;
        font-family: $font-body;
        font-weight: normal;
    }
    ul{
        list-style:none;
        border-left: 2px solid #dbd9d8;
        font-size: 1.7rem;
        color: #b1a8aa;
        font-weight: 300;
        padding-left: 30px;
        margin-top: 0;
        line-height: 1.9;
    }
}