//ITCSS Structure________
//Settings_______________
$font-body: 'Quattrocento', serif;
$font-heading: 'Oswald', sans-serif;
%box-shadow{
    box-shadow: 0 0 25px 5px rgba(0,0,0,.2);
}
//Tools_________________
@import 'node_modules/normalize-css/normalize';

//Generic_______________
html{
    font-size: 10px;
}
body{
    font-family: $font-body;
    background:#23232A;
}
h1, h2, h3, h4, h5, h6{
    font-family: $font-heading;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
p{
    line-height: 1.7;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

//Elements______________

//Components____________
.intro{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0;
    background-image: linear-gradient(167deg, #6899A1, #7CADB5);
    padding: 50px 100px;
    color:#fff;
    border-bottom: 110px solid #1A4057;
    @extend %box-shadow;
    &__logo{
        grid-column: span 2;
        h1{
            color:rgba(255,255,255,.2);
            font-size: 100px;
            margin-bottom: -30px;
            line-height: 1;
        }
    }
    &__content{
        grid-column: span 2;
        p{
            padding-left: 30px;
            font-size: 2rem;
        }
    }
}
.case-study{ 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 0 100px 40px;
    grid-column-gap: 20px;
    margin-top: -60px;
    &__image{
        grid-column: span 2;
        height: 500px;
        background-position: top center;
        background-size: 100% auto;
        transition:background-position 2s ease;
        margin: 0 0 40px;
        @extend %box-shadow;
        &:hover{
            background-position: bottom center;
            transition:background-position 5s ease;
        }
    }
    &__description{
        grid-column: span 2;
        background: linear-gradient(90deg, rgba(200,200,200,1) 0%, rgba(190,190,190,1) 10%, rgba(255,255,255,1) 10%);
        margin-top: 80px;
        padding: 20px;
        position: relative;
        padding: 20px 20px 20px 70px;
        @extend %box-shadow;
        h2{
            cursor: pointer;
            font-size: 4rem;
        }
        p{
            margin-left: 20px;
        }
        &--rotate-90{
            left:10%;
            top:0;
            position: absolute;
            transform-origin: 0 0;
            transform: rotate(90deg);
            padding-left: 20px;
            color:#ddd;
            white-space: nowrap;
            h2{
                font-size: 3rem;
                cursor: text;
            }
        }
    }        
}

//Trumps________________

@import 'layout/responsive';